@model DogGo.Models.ViewModels.WalkFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Walk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWalk">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h1>@Model.Walker.Name</h1>
            </div>
            <div class="form-group">
                <label asp-for="DogIds" class="control-label">Select Dog(s)</label>
                <select asp-for="DogIds" class="form-control" multiple>

                    @foreach (Dog dog in Model.Dogs)
                    {
                        <option value="@dog.Id">@dog.Name</option>
                    }
                </select>
                <span asp-validation-for="DogIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walk.Date" class="control-label">Date</label>
                <input asp-for="Walk.Date" type="date" 
                       min=" 2021-01-01"
                       value="@DateTime.Now"/>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateWalk" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
